# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=s6i6ussl
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skkTOFDwAzHlXbeY3hxmBcoXOOqKJDHH8RO6EyXe5jz3Mv9WCu75wbJCcNPv1GOxLQ3A4tTIfd77fNXJCibp95PkaV3I6OaW2jBl5RY2HH6jFBGBowGUodBQkXjY9Ue76Gv4uhi1pu2fMK2I02ZHLBMgYrST88ZHxRhIlZFooavpSwI9Qzjs

# Algolia
NEXT_PUBLIC_ALGOLIA_APP_ID=your_app_id
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=your_search_key
ALGOLIA_ADMIN_KEY=your_admin_key
